<form class="form-apps " name="orangTuaPesertaDidikForm" role="administration" ng-submit="submit(orangTuaPesertaDidikForm)" ng-controller="orangTuaPesertaDidikCtrl">
	<div class="well well-sm">
		<!-- Form Name -->
		<legend>ID</legend>

		<div class="row" >
	    <pre>ID Peserta Didik</pre>
	    <input type="text" ng-model="pesertaDidikObj.noInduk" placeholder="Silahkan masukkan No Induk Peserta Didik" typeahead="no_induk for no_induk in getPesertaDidik($viewValue)" typeahead-loading="loadPesertaDidik" class="form-control">
	    <i ng-show="loadPesertaDidik" class="glyphicon glyphicon-refresh"></i>
		</div>
		<legend>Ayah</legend>

		<!-- Text input-->
		<div class="row">
			<label class="col-xs-4 " for="namaAyah">Nama Lengkap</label>  
			<div class="col-xs-5">
			<input  name="namaAyah" ng-model="pesertaDidikObj.namaAyah" type="text" placeholder="Nama" class="form-control input-xs input-sm" required="">
				
			</div>
		</div>

		<!-- Text input-->
		<div class="row">
			<label class="col-xs-4 " for="tempatLahirAyah">Tempat Lahir</label>  
			<div class="col-xs-5">
			<input  name="tempatLahirAyah" ng-model="pesertaDidikObj.tempatLahirAyah" type="text" placeholder="Tempat Lahir" class="form-control input-xs input-sm" required="">
				
			</div>
		</div>

		<!-- Text input-->
		<div class="row">
			<label class="col-xs-4 " for="tanggalLahirAyah">Tanggal Lahir</label>  
			<div class="col-xs-4">
			<input  name="tanggalLahirAyah" ng-model="pesertaDidikObj.tanggalLahirAyah" type="text" placeholder="Tanggal Lahir" class="form-control input-xs input-sm" required="">
				
			</div>
		</div>

		<!-- Select Basic -->
		<div class="row">
			<label class="col-xs-4 " for="agamaAyah">Agama</label>
			<div class="col-xs-4">
				<select  name="agamaAyah" ng-model="pesertaDidikObj.agamaAyah" class="form-control input-sm">
					<option value="Islam">Islam</option>
					<option value="Kristen">Kristen</option>
					<option value="Hindu">Hindu</option>
					<option value="Budha">Budha</option>
				</select>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="row">
			<label class="col-xs-4 " for="kewarganegaraanAyah">Kewarganegaraan</label>
			<div class="col-xs-4">
				<select  name="kewarganegaraanAyah" ng-model="pesertaDidikObj.kewarganegaraanAyah" class="form-control input-sm">
					<option value="Indonesia">Indonesia</option>
					<option value="WNA">WNA</option>
				</select>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="row">
			<label class="col-xs-4 " for="pendidikanAyah">Pendidikan</label>
			<div class="col-xs-4">
				<select  name="pendidikanAyah" ng-model="pesertaDidikObj.pendidikanAyah" class="form-control input-sm">
					<option value="SD">SD</option>
					<option value="SLTP">SLTP</option>
					<option value="SLTA">SLTA</option>
					<option value="Diploma">Diploma</option>
					<option value="Sarjana">Sarjana</option>
				</select>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="row">
			<label class="col-xs-4 " for="pekerjaanAyah">Pekerjaan</label>
			<div class="col-xs-4">
				<select  name="pekerjaanAyah" ng-model="pesertaDidikObj.pekerjaanAyah" class="form-control input-sm">
					<option value="Buruh">Buruh / Tani</option>
					<option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>
					<option value="Karyawan">Karyawan</option>
					<option value="Wiraswasta">Wiraswasta</option>
					<option value="PNS">PNS</option>
					<option value="TNI">TNI / POLRI</option>
					<option value="Lain-lain">Lain-lain</option>
				</select>
			</div>
		</div>

		<!-- Text input-->
		<div class="row">
			<label class="col-xs-4 " for="penghasilanAyah">Penghasilan per Bulan</label>  
			<div class="col-xs-4">
			<input  name="penghasilanAyah" ng-model="pesertaDidikObj.penghasilanAyah" type="text" placeholder="Penghasilan" class="form-control input-xs input-sm">
			</div> 
		 </div>  

		<!-- Form Name -->
		<legend>Ibu</legend>

		<!-- Text input-->
		<div class="row">
			<label class="col-xs-4 " for="namaIbu">Nama Lengkap</label>  
			<div class="col-xs-5">
			<input  name="namaIbu" ng-model="pesertaDidikObj.namaIbu" type="text" placeholder="Nama" class="form-control input-xs input-sm" required="">
			</div>
		</div>

		<!-- Text input-->
		<div class="row">
			<label class="col-xs-4 " for="tempatLahirIbu">Tempat Lahir</label>  
			<div class="col-xs-5">
			<input  name="tempatLahirIbu" ng-model="pesertaDidikObj.tempatLahirIbu" type="text" placeholder="Tempat Lahir" class="form-control input-xs input-sm" required="">
			</div>
		</div>

		<!-- Text input-->
		<div class="row">
			<label class="col-xs-4 " for="tanggalLahirIbu">Tanggal Lahir</label>  
			<div class="col-xs-4">
			<input  name="tanggalLahirIbu" ng-model="pesertaDidikObj.tanggalLahirIbu" type="text" placeholder="Tanggal Lahir" class="form-control input-xs input-sm" required="">
			</div>
		</div>

		<!-- Select Basic -->
		<div class="row">
			<label class="col-xs-4 " for="agamaIbu">Agama</label>
			<div class="col-xs-4">
				<select  name="agamaIbu" ng-model="pesertaDidikObj.agamaIbu" class="form-control input-sm">
					<option value="Islam">Islam</option>
					<option value="Kristen">Kristen</option>
					<option value="Hindu">Hindu</option>
					<option value="Budha">Budha</option>
				</select>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="row">
			<label class="col-xs-4 " for="kewarganegaraanIbu">Kewarganegaraan</label>
			<div class="col-xs-4">
				<select  name="kewarganegaraanIbu" ng-model="pesertaDidikObj.kewarganegaraanIbu" class="form-control input-sm">
					<option value="Indonesia">Indonesia</option>
					<option value="WNA">WNA</option>
				</select>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="row">
			<label class="col-xs-4 " for="pendidikanIbu">Pendidikan</label>
			<div class="col-xs-4">
				<select  name="pendidikanIbu" ng-model="pesertaDidikObj.pendidikanIbu" class="form-control input-sm">
					<option value="SD">SD</option>
					<option value="SLTP">SLTP</option>
					<option value="SLTA">SLTA</option>
					<option value="Diploma">Diploma</option>
					<option value="Sarjana">Sarjana</option>
				</select>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="row">
			<label class="col-xs-4 " for="pekerjaanIbu">Pekerjaan</label>
			<div class="col-xs-4">
				<select  name="pekerjaanIbu" ng-model="pesertaDidikObj.pekerjaanIbu" class="form-control input-sm">
					<option value="Buruh">Buruh / Tani</option>
					<option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>
					<option value="Karyawan">Karyawan</option>
					<option value="Wiraswasta">Wiraswasta</option>
					<option value="PNS">PNS</option>
					<option value="TNI">TNI / POLRI</option>
					<option value="Lain-lain">Lain-lain</option>
				</select>
			</div>
		</div>

		<!-- Text input-->
		<div class="row">
			<label class="col-xs-4 " for="txtPenghasilan">Penghasilan per Bulan</label>  
			<div class="col-xs-4">
			<input  name="penghasilanIbu" ng-model="pesertaDidikObj.penghasilanIbu" type="text" placeholder="Penghasilan" class="form-control input-xs input-sm">
				
			</div>
		</div>

		<div class="row">
			<label class="col-md-3 " for="button1id"></label>
			<div class="col-md-8">
				<button id="button1id" name="button1id" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
</form>
